/*变量*/
/*常用的一些混合*/
.ellip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.after-cls:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.underline {
  text-decoration: underline !important;
}
.login-page {
  position: relative;
  width: 100%;
  height: 100%;
}
.login-page .login-page-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.login-page .login-page-header .top-logo {
  display: block;
  width: 200px;
  height: 88px;
  background: url(../images/login-logo.png) no-repeat;
  margin-top: 40px;
}
.login-page .login-page-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.login-page .login-page-footer .about-link {
  text-align: center;
  padding-top: 15px;
}
.login-page .login-page-footer .about-link a {
  font-size: 14px;
  line-height: 24px;
  padding: 0 5px;
  margin: 0 10px;
  color: #fff;
}
.login-page .login-page-footer .about-link a:hover {
  text-decoration: underline !important;
}
.login-page .login-page-footer .copyright {
  font-size: 12px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
}
.login-page .login-page-form {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 360px;
  height: 378px;
  margin-left: -183px;
  margin-top: -189px;
  background-color: #fff;
  padding: 30px;
}
.login-page .login-page-form .form-title {
  font-size: 18px;
  color: #333;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.login-page .login-page-form .form-tip {
  font-size: 12px;
  color: #ed514e;
  height: 32px;
  line-height: 32px;
  text-align: center;
}
.login-page .login-page-form .form-input-box {
  position: relative;
  border: 1px solid #d9dadc;
  margin-bottom: 15px;
}
.login-page .login-page-form .form-input-box:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.login-page .login-page-form .form-input-box .ico-user {
  position: absolute;
  left: 0;
  top: 0;
  width: 41px;
  height: 40px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAoCAYAAABjPNNTAAAB3ElEQVRYhe2YXY+aQBSG3xFxEAeQkKDB//+rvPVCJEZUIggD9KLZZm132zMfabsJzyV5OedhCDMnsP1+P+I/5nwpMfvXEhQmSVtMkraYJG3xJSTnNooEQQAhBDjnYIxBSom6rlGWJaSUxvWNJbMsg+/7L9ccxwHnHFEUIc9zVFVl1MPode92u18E38MYw3a7hed5Jm30JYUQWC6XpOxms9FtA8BAMooictZ1XaPV1JZ0XVcpzznXbaUvOY5/b8LTlmzbVilf17VuK33JsizJ2aZplB/qPdqSdV3jdruRsnme67YBYLiZn04njOP46ZfedR2OxyO6rjNpY37iFEWB6/WKIAhejsXH44H7/W5aHoCls7ttW5zPZxulPkRb0nVdCCHgeR7m8+9l3rYlxtiPnJQSTdOgqirt164lmSQJ4jgmZTnnWK1WSJIEl8tFa8WVv+4sy8iCPxPHMbIsU75PSTJN099OPRR830eapkr3kCU55wjDUFnqI8IwVDrLyZLr9VpLyEY9siR1dqSiMrqRJd+2GVuojHpkyWEYtGQ+o+97cpa8PIfDAVEUYbFYwHEczGazl037T4zjiGEY0Pc9ns8neThRkmzbFkVRkAvb5Ev8HJgkbTFJ2mKStMU3Q9+NKGhVcX0AAAAASUVORK5CYII=) no-repeat;
}
.login-page .login-page-form .form-input-box .ico-pwd {
  position: absolute;
  left: 0;
  top: 0;
  width: 41px;
  height: 40px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAoCAYAAABjPNNTAAAByklEQVRYhe2XXa+iMBCG3wIiphK+TNT//7O8JjGobJGGymf3SuLJ7uZQnT3uyfJcNTCdPpSZpGWHw0HjH+byQ8B6t8QUZkkqZkkqZkkqvoWk82oC13URBAE453AcB1prtG0LKSWKokDf9++VTJIEURR9eMYYg+u6iOMYYRgiyzJIKd8jud1u4fs+tNYQQqAsS7RtCwDwPA9BEGC9XmO32+F0OqEoiq+VDMMQvu+j73ukaYqmaT68V0pBKTVKbjYb1HWN2+32lKRx49i2jTiOAQDH4/EXwUeklLhcLmCMIUmSpwSfkuScw7IsVFUFpdSn8UIIDMOA1WqFxWLxNZKe5wEAqqqaFK+1Hj/mPtcU45pUSqHrukm7eOd6vaKu67GxTDGSdBwHTdOMdbhcLifN67oOXdeNOe5jcskoil4q/kfO5zOEEJPjJ9fkvaMpMM01WZIxZizzx0Uts34lPWDkeY40TY1r7jPIJLXWyPMcSimUZUmVFgCx5O/GFHyL8+QsSQWZpGVZ4JzDtm1wzqnSAiC4Pjyy3+8p041M3slhGMgWNb33TJbMsoxEtO97ZFlmNGfy75ZSvnyhepb/q7v/JrMkFbMkFbMkFT8BmCu8ueMhlfcAAAAASUVORK5CYII=) no-repeat;
}
.login-page .login-page-form .form-input-box .ico-code {
  position: absolute;
  left: 0;
  top: 0;
  width: 41px;
  height: 40px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAoCAYAAABjPNNTAAACL0lEQVRYhe2Xa2+iQBhGDyrjBUXFqDGR//+j6pcmrYpGl8uICnbYD5uabtfdBZnuJeV8HN555pDJOwPGw8NDxj/M7otP7W9L5KGS1EUlqYtKUhefT7LVauG6Lq1WS2csDR0hQggGgwG2bQMwn88JwxDf90mSpHR+bslmswmAYRjUajVM00QIQbvdRgjxQ71t29i2TZIkHI9HkiQhTVOUUmTZt5v4fD7rlXRdN2/pdwghbr4EwGKxyJXx+Rrno6gkAZRS7Pd7DofD3RkfKiml5PHxkcvlgmVZd+doOSffo5Riu90SRRHD4ZDRaFQqr5RkkiSYpolhGNex8/nMer0mTVMcx8FxnFKCpSTjOGa1WiGEYDKZ0Gw2kVLieR5ZltHv97UIlpLsdDoMh0P2+z1PT09YloWUEoB2u814PNYiCCUbx3EcZrMZhmFcBev1OtPpVIvcK7klX15ebo5blsV8Psc0TQDG4zGNxu836HK55F06v+TpdPrpMyEEruviOA7dbrd03ntySwZB8OugWq1Qo4RhmLs2t2Qcx6VujbdIKYnjOHd9ocbxPK/QNt3idDqx2WwKzSkkqZRiuVxeO7koUkqen59RShWaV/icVEqxXq/p9XqMRqPcnbzb7YiiqOhy90m+EkURUkr6/T6DweCmbJqmBEFAEATXX4Y/KgmQZRm+7+P7Pp1Oh16vh2VZHA4HwjDkeDyWidcj+ZY4jgt1bBGqL3NdVJK6qCR18V9IfgUkot3GWVrlcAAAAABJRU5ErkJggg==) no-repeat;
}
.login-page .login-page-form .form-input-box .form-input {
  width: 100%;
  height: 40px;
  padding: 0 15px 0 56px;
  border: none;
}
.login-page .login-page-form .form-input-box .form-input-link {
  float: left;
  width: 104px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #666;
  background-color: #ebebeb;
  text-align: center;
  border-left: 1px solid #cfd1d2;
}
.login-page .login-page-form .form-input-box .form-code-box {
  float: left;
  width: 194px;
  position: relative;
}
.login-page .login-page-form .form-input-box .form-input-image {
  float: left;
  width: 104px;
  height: 40px;
  border-left: 1px solid #cfd1d2;
  cursor: pointer;
}
.login-page .login-page-form .form-link {
  font-size: 13px;
  color: #666;
}
.login-page .login-page-form .form-link:hover {
  color: #fc7358;
}
.login-page .login-page-form .login-btn {
  display: block;
  width: 100%;
  height: 42px;
  line-height: 43px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background-color: #fc7358;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.login-page .login-page-form .login-btn:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.login-page .login-page-form .login-btn.forbid {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}
